<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.AddressDao">
	<select id="findAllByUserId" parameterType="String" resultType="com.baizhi.entity.Address">
		select id,name,local,zip_codes as zipCodes,phone,user_id as userId from dd_address 
		where user_id = #{userId}
	</select>
	
	<insert id="insertOneAddress" parameterType="com.baizhi.entity.Address">
		insert into dd_address values(#{id},#{name},#{local},#{zipCodes},#{phone},#{userId})
	</insert>
	
	<select id="findOneById" parameterType="String" resultType="com.baizhi.entity.Address">
		select id,name,local,zip_codes as zipCodes,phone,user_id as userId from dd_address 
		where id = #{id}
	</select>
	
	<update id="updateAddress" parameterType="com.baizhi.entity.Address">
		update dd_address set id = #{id},name = #{name},local = #{local},zip_codes = #{zipCodes},
		phone = #{phone} where id = #{id}
	</update>
</mapper>
