<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.CategoryDao">
	
	<resultMap type="Category"  id="cg">
		<id column="sid" property="id"/>
		<result column="sname" property="name"/>
		<result column="slevels" property="levels"/>
		<result column="sparentId" property="parent_id"/>
		<association property="first" javaType="Category">
			<id column="fid" property="id"/>
			<result column="fname" property="name"/>
			<result column="flevels" property="levels"/>
			<result column="fparentId" property="parent_id"/>
		</association>
	</resultMap>
	
	<resultMap type="com.baizhi.entity.Category" id="cgCollection">
		<id column="fid" property="id"/>
		<result column="fname" property="name"/>
		<result column="flevels" property="levels"/>
		<result column="fparent_id" property="parent_id"/>
		<collection property="secound" javaType="List" ofType="com.baizhi.entity.Category">
			<id column="sid" property="id"/>
			<result column="sname" property="name"/>
			<result column="slevels" property="levels"/>
			<result column="sparent_id" property="parent_id"/>
			<collection property="books" javaType="List" ofType="com.baizhi.entity.Book">
				<id column="bid" property="id"/>
				<result column="name" property="name"/>
				<result column="author" property="author"/>
				<result column="cover" property="cover"/>
				<result column="press" property="press"/>
				<result column="press_time" property="pressTime"/>
				<result column="edition" property="edition"/>
				<result column="revision_time" property="revisionTime"/>
				<result column="print_date" property="printDate"/>
				<result column="isbn" property="isbn"/>
				<result column="word_num" property="wordNum"/>
				<result column="page_num" property="pageNum"/>
				<result column="sizze" property="sizze"/>
				<result column="paper" property="paper"/>
				<result column="pack" property="pack"/>
				<result column="price" property="price"/>
				<result column="ddprice" property="ddprice"/>
				<result column="create_time" property="createTime"/>
				<result column="editor_recommend" property="editorRecommend"/>
				<result column="content_abstract" property="contentAbstract"/>
				<result column="author_abstract" property="authorAbstract"/>
				<result column="director" property="director"/>
				<result column="media_commentary" property="mediaCommentary"/>
				<result column="sale" property="sale"/>
				<result column="stock" property="stock"/>
				<result column="category_id" property="categoryId"/>
			</collection>
		</collection>
		<collection property="books" javaType="List" ofType="com.baizhi.entity.Book">
				<id column="bid" property="id"/>
				<result column="name" property="name"/>
				<result column="author" property="author"/>
				<result column="cover" property="cover"/>
				<result column="press" property="press"/>
				<result column="press_time" property="pressTime"/>
				<result column="edition" property="edition"/>
				<result column="revision_time" property="revisionTime"/>
				<result column="print_date" property="printDate"/>
				<result column="isbn" property="isbn"/>
				<result column="word_num" property="wordNum"/>
				<result column="page_num" property="pageNum"/>
				<result column="sizze" property="sizze"/>
				<result column="paper" property="paper"/>
				<result column="pack" property="pack"/>
				<result column="price" property="price"/>
				<result column="ddprice" property="ddprice"/>
				<result column="create_time" property="createTime"/>
				<result column="editor_recommend" property="editorRecommend"/>
				<result column="content_abstract" property="contentAbstract"/>
				<result column="author_abstract" property="authorAbstract"/>
				<result column="director" property="director"/>
				<result column="media_commentary" property="mediaCommentary"/>
				<result column="sale" property="sale"/>
				<result column="stock" property="stock"/>
				<result column="category_id" property="categoryId"/>
			</collection>
	</resultMap>
	
	<resultMap type="com.baizhi.entity.Category" id="secound">
		<id column="sid" property="id"/>
		<result column="sname" property="name"/>
		<result column="slevels" property="levels"/>
		<result column="sparent_id" property="parent_id"/>
		<collection property="books" javaType="List" ofType="com.baizhi.entity.Book">
			<id column="bid" property="id"/>
			<result column="name" property="name"/>
			<result column="author" property="author"/>
			<result column="cover" property="cover"/>
			<result column="press" property="press"/>
			<result column="press_time" property="pressTime"/>
			<result column="edition" property="edition"/>
			<result column="revision_time" property="revisionTime"/>
			<result column="print_date" property="printDate"/>
			<result column="isbn" property="isbn"/>
			<result column="word_num" property="wordNum"/>
			<result column="page_num" property="pageNum"/>
			<result column="sizze" property="sizze"/>
			<result column="paper" property="paper"/>
			<result column="pack" property="pack"/>
			<result column="price" property="price"/>
			<result column="ddprice" property="ddprice"/>
			<result column="create_time" property="createTime"/>
			<result column="editor_recommend" property="editorRecommend"/>
			<result column="content_abstract" property="contentAbstract"/>
			<result column="author_abstract" property="authorAbstract"/>
			<result column="director" property="director"/>
			<result column="media_commentary" property="mediaCommentary"/>
			<result column="sale" property="sale"/>
			<result column="stock" property="stock"/>
			<result column="category_id" property="categoryId"/>
		</collection>
	</resultMap>

	<select id="findAll" resultMap="cg">
		select s.id as sid,s.name as sname,s.levels as slevels,s.parent_id as sparentId,
				f.id as fid,f.name as fname,f.levels as flevels,f.parent_id as fparentId
		from dd_category s left join dd_category f
		on s.parent_id = f.id
	</select>
	
	<select id="findAllParent" resultType="com.baizhi.entity.Category">
		select * from dd_category where levels = '1' 
	</select>
	
	<select id="findAllSecound" resultType="com.baizhi.entity.Category">
		select * from dd_category where levels = '2'
	</select>
	
	<insert id="addOne" parameterType="com.baizhi.entity.Category">
		insert into dd_category values(#{id},#{name},#{parent_id},#{levels})
	</insert>
	
	<insert id="addSecound" parameterType="com.baizhi.entity.Category">
		insert into dd_category values(#{id},#{name},#{parent_id},#{levels})
	</insert>
	
	<delete id="deleteOne" parameterType="String">
		delete from dd_category where id = #{id}
	</delete>
	
	<select id="findByName" resultType="com.baizhi.entity.Category" parameterType="String">
		select * from dd_category where name = #{name}
	</select>
	
	<select id="findFirstAndSecoundAndBook" resultMap="cgCollection">
				select  f.id as fid,f.name as fname,f.levels as flevels,f.parent_id as fparentId,
						s.id as sid,s.name as sname,s.levels as slevels,s.parent_id as sparentId,
						b.id as bid,name,author,cover,press,press_time,edition,revision_time,print_date,
						isbn,word_num,page_num,sizze,paper,pack,price,ddprice,create_time,
						editor_recommend,content_abstract,author_abstract,director,media_commentary,
						sale,stock,category_id
				from dd_category f left join dd_category s
				on f.name = s.parent_id 
				left join dd_book b 
				on s.id = b.category_id
				where f.id = #{id}
	</select>
	
	<select id="findBookBySecound" resultMap="secound">
		select s.id as sid,s.name as sname,s.levels as slevels,s.parent_id as sparent_id,
				b.id as bid,b.name,b.author,b.cover,b.press,b.press_time,b.edition,
				b.revision_time,b.print_date,b.isbn,b.word_num,b.page_num,b.sizze,b.paper,
				b.pack,b.price,b.ddprice,b.create_time,b.editor_recommend,
				b.content_abstract,b.author_abstract,b.director,b.media_commentary,
				b.sale,b.stock,b.category_id
		from dd_category s left join dd_book b 
		on s.id = b.category_id
		where s.id = #{id}
	</select>
</mapper>








