<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.UserDao">

	<resultMap type="com.baizhi.entity.User" id="userBook">
		<id column="uuid" property="id"/>
		<result column="email" property="email"/>
		<result column="password" property="password"/>
		<result column="salt" property="salt"/>
		<result column="nickname" property="nickname"/>
		<result column="status" property="status"/>
		<result column="key" property="key"/>
		<result column="ucreateTime" property="createTime"/>
		<collection property="books" javaType="List" ofType="com.baizhi.entity.Book">
			<id column="bid" property="id"/>
			<result column="name" property="name"/>
			<result column="author" property="author"/>
			<result column="cover" property="cover"/>
			<result column="press" property="press"/>
			<result column="edition" property="edition"/>
			<result column="print_date" property="printDate"/>
			<result column="isbn" property="isbn"/>
			<result column="word_num" property="wordNum"/>
			<result column="price" property="price"/>
			<result column="ddprice" property="ddprice"/>
			<result column="create_time" property="createTime"/>
			<result column="editor_recommend" property="editorRecommend"/>
			<result column="content_abstract" property="contentAbstract"/>
			<result column="sale" property="sale"/>
			<result column="stock" property="stock"/>
			<result column="category_id" property="categoryId"/>
		</collection>
	</resultMap>

	<select id="findAllBookByUser" resultMap="userBook" parameterType="String">
		select u.id as uuid,u.email,u.password,u.salt,u.nickname,
    u.status,u.key,u.create_time as ucreateTime,
    b.id as bid,name,author,cover,press,edition,print_date,
    isbn,word_num,price,ddprice,create_time,
    editor_recommend,content_abstract,
    sale,stock,category_id
    from 
    dd_user u left join dd_user_book db on u.id = db.user_id
    left join dd_book b on db.book_id = b.id
    where u.id = #{id}
	</select>

	<select id="login" parameterType="String" resultType="com.baizhi.entity.User">
		select id,email,password,salt,nickname,status,key,create_time as createTime
		from dd_user where email = #{email}
	</select>
	
	<insert id="register" parameterType="com.baizhi.entity.User">
		insert into dd_user values
		(#{id},#{email},#{password},#{salt},#{nickname},#{status},#{key},sysdate)
	</insert>
	
	<select id="findOne" parameterType="String" resultType="com.baizhi.entity.User">
		select id,email,password,salt,nickname,status,key,create_time as createTime
		from dd_user where id = #{id}
	</select>
	
	<select id="findOneByEmail" parameterType="String" resultType="com.baizhi.entity.User">
		select id,email,password,salt,nickname,status,key,create_time as createTime
		from dd_user where email = #{email}
	</select>
	
	<update id="updateKey" parameterType="com.baizhi.entity.User">
		update dd_user set key = #{key} where id = #{id}
	</update>
	
	<select id="showAll" resultType="com.baizhi.entity.User">
		select id,email,password,salt,nickname,status,key,create_time as createTime
		from dd_user
	</select>
	
	<update id="updateStatus">
		update dd_user set status = #{status} where id = #{id}
	</update>
</mapper>







